$num-ratios: 10;

@function getBarHeight($ratio) {
    // height = m * ratio + n
    // so:  ratio = 0  --> height = min-height
    //      ratio = 10 --> height = max-height
    @return (($bar-max-height - $bar-min-height) / $num-ratios) * $ratio + $bar-min-height;
}

.bar {
    bottom: 0;
    width: $bar-width;
    background-color: red;

    @for $ratio from 0 through $num-ratios {
        &--#{$ratio} {
            height: getBarHeight($ratio);
        }
    }
}
