$num-ratios: 10;

@function getBarHeight($ratio) {
    // height = m * ratio + n
    // so:  ratio = 0  --> height = min-height
    //      ratio = 10 --> height = max-height
    @return (($bar-max-height - $bar-min-height) / $num-ratios) * $ratio + $bar-min-height;
}

.bar {
    z-index: 1;
    bottom: 0;
    width: $bar-width;
    box-shadow: inset -2px -2px 1px 1px black;

    @for $ratio from 0 through $num-ratios {
        &--#{$ratio} {
            height: getBarHeight($ratio);
        }
    }

    &--single {
        margin-left: 25%;
    }

    &--stable {
        background-color: $primary-color;
    }

    &--rise {
        background-color: $success;
    }

    &--fall {
        background-color: $failure;
    }
}
