.coin {
    color: $secondary;
    display: flex;
    justify-content: flex-end;
    height: 33%;
    border-bottom: 1px dotted $secondary;
    margin: 0 $margin;
    padding: $padding;

    &:last-child {
        border-bottom: none;
    }

    &__info,
    &__name,
    &__history,
    &__current,
    &__price {
        height: 100%;
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__info {
        justify-content: flex-end;
        font-size: $text-small;
        flex-basis: 80%;
    }

    &__name {
        font-size: $text-big;
        justify-content: center;
        flex-basis: 20%;
        border-left: 1px dotted $secondary;
    }

    &__history {
        flex-basis: 85%;
        justify-content: flex-end;
        padding-right: $padding;
    }

    &__current {
        flex-direction: column;
        justify-content: flex-end;
        flex-basis: 15%;
        border-left: 1px dotted $secondary;
    }

    &__price {
        flex-direction: column;
        justify-content: flex-end;
        margin-left: $margin;
        flex-basis: 8.7%;
    }
}
