.currency-selector {
    position: absolute;
    top: $margin;
    left: $margin;
    z-index: 2;

    &__span {
        color: $primary-color;
        margin-right: $margin;

        &--loading {
            color: $loading-text;
        }
    }

    &__options {
        border: 5px solid $secondary-color;
    }
}
