.price-lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__line {
        position: absolute;
        right: 0;
        left: 0;
        border-bottom: $border-thin;

        &--max {
            top: 25%;
        }

        &--mid {
            top: 50%;
        }

        &--min {
            top: 75%;
        }
    }

    &__span {
        position: absolute;
        right: $padding;
        bottom: 0px;
    }
}
