$primary-color: #d4d6e0;
$secondary-color: #185488;
$background: linear-gradient(80deg, #010810 0%, #205c90 50%, $secondary-color 51%, #000000 100%);
$success: #9df19d;
$success-strong: #00ff00;
$failure: #ff7171;
$failure-strong: #ff0000;
$loading-text: #56636f;

$margin: 8px;
$padding: 8px;

$text-big: 50px;
$text-small: 14px;

$bar-width: 16px;
$bar-max-height: 75%;
$bar-min-height: 25%;

$border-thin: 1px dotted rgba($primary-color, 0.2);
$border-thick: 1px dotted $primary-color;
